nav
  .nav__left
    a(href="#")
      img(src="images/logo.svg" alt="Logo" width="64" height="auto")
  button.button__menu(type="button")#menu-button
    img(src="images/icon-menu.svg" alt="Menu Icon" width="24" height="auto")
  ul.nav__right#menu-list
    button.button__menu-close(type="button")#close-button
      img(src="images/icon-menu-close.svg" alt="Close Icon" width="24" height="auto")
    li
      a(href="#") Home
    li
      a(href="#") New
    li
      a(href="#") Popular
    li
      a(href="#") Trending
    li
      a(href="#") Categories
