doctype html
html(lang="en")
  head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap" rel="stylesheet")
    title News Homepage
    meta(charset="utf-8")
    meta(name="Author" content="Manuel Osorio")
    meta(name="description" content="News home page from frontend mentor")
    link(rel="icon" type="image/png" href="images/favicon-32x32.png")
    
    // Open Graph - Facebook, Google, LinkedIn
    meta(property="og:type" content="Article")
    meta(property="og:description" content="News home page from frontend mentor")
    meta(property="og:image" content="")
    meta(property="og:url" content="#")
    meta(property="og:site_name" content="News Homepage")
    //end Open Graph

    //Twitter Meta Content
    meta(name="twitter:title" content="News Homepage")
    meta(name="twitter:description" content="News home page from frontend mentor")
    meta(name="twittewr:image" content="")
    meta(name="twitter:site" content="@theManuelOsorio")
    meta(name="twitter:creator" content="@theManuelOsorio")
    //End Twitter Meta Content

    meta(name="robots" content="noindex, nofollow")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
  body
    include includes/nav.pug
    main.l-grid__main
      include includes/header.pug
      aside.l-grid__aside
        h2 New
        article
          h3
            a(href="#") Hydrogen VS Electric Cars
          p Will hydrogen-fueled cars ever catch up to EVs?
        hr
        article
          h3
            a(href="#") The Downsides of AI Artistry
          p What are the possible adverse effects of on-demand AI image generation?
        hr
        article
          h3
            a(href="#") Is VC Funding Drying Up?
          p Private funding by VC firms is down 50% YOY. We take a look at what that means.
      section.l-grid__articles
        include includes/articles.pug
    script(src="scripts/main.js")
